.card-aluno {
    background-color: whitesmoke;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 8px;
    width: 300px;
    margin: 8px auto;
  }
  
  .aprovado {
    color: green;
  }
  
  .reprovado {
    color: red;
  }




/* .cardAluno-caixa {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(115, 47, 178);
    margin: 40px auto;
    padding: 20px;
    color: white;
    border-radius: 8px;
}

.nomeAluno {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    color: white;
}


.aprovado {
    background-color: aliceblue;
    padding: 6px;
    margin-top: 5px;
    border-radius: 5px;
    color: green;
}

.reprovado {
    background-color: aliceblue;
    padding: 6px;
    margin-top: 5px;
    border-radius: 5px;
    color: red;
} */